# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
*.log
*.class
*.jar

# IntelliJ / Eclipse
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Node / React
node_modules/
build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
